<!DOCTYPE html>
<html>
   <body>
      <h2 align="center">The Ackermann</h2>
      <h3 align="center">Please fill in one number in each box </h3>
      <center>
        <form align="center" style="width: 500px;" method="POST" action="/result/ackermann">
    
      <label align="center" for="Ackermann">Please fill in one number in each box</label> <br />
      <input type="number" id="Ackermann_m" name="Ackermann_m">
      <input type="number" id="Ackermann_n" name="Ackermann_n">
      <input type="submit" name="submit_button" value="submit">
        </form>
        <a href="/">Back to task list</a>
      </center>
   </body>
</html>