<!DOCTYPE html>
<html>
   <body>
      <h2 align="center">Sum of Fibonacci</h2>
      <h3 align="center">Please fill in the interger between 0~1000 </h3>
      <center>
        <form align="center" style="width: 500px;" method="POST" action="/result/fabonacci">
    
      <label align="center" for="fibonacci">Enter a number</label> <br />
      <input type="number" id="fibonacci" name="fibonacci"> <br />
      <input type="submit" name="submit_button" value="submit">
        </form>
        <a href="/">Back to task list</a>
      </center>
   </body>
</html>