<!DOCTYPE html>
<html>
   <body>
      <h2 align="center">Izek's Klarna tasks</h2>
      <p align="center"><a href=/tasks/fibonacci ><button class=grey style="height:75px;width: 250px;px">Sum Fibonacci sequence</button></a></p>
      <p align="center"><a href=/tasks/ackermann ><button class=grey style="height:75px;width: 250px;px">The Ackermann function</button></a></p>
      <p align="center"><a href=/tasks/factorial ><button class=grey style="height:75px;width: 250px;px">The factorial</button></a></p>
   </body>
</html>